{% extends 'vlog/base.htm' %}
{% block title %}Change Password {% endblock title %}
    
{% block content %}
<div class="col-sm-12">
    <h3 class="my-5">Change Password</h3>
     <div class="col-sm-10">
         <form action="" method="post" novalidate>
             {% if cp.non_field_errors %}
               {% for eror in cp.non_field.errors %}
               <div class="alert alert-danger">{{eror}}</div>
               {% endfor %}
             {% endif %}
             {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}">{{msg}}</div>
                {% endfor %}
             {% endif %}
             {% csrf_token %}
                 {% for form in cp %}
                 <div class="form-row">
                    <div class="form-group col-sm-6">
                        {{form.label_tag}}
                        {{form}}
                        {% if form.errors %}
                            <span class="text-danger">{{form.errors|striptags}}</span>
                        {% endif %}
                    </div>
                </div>
                 {% endfor %}
             <button class="btn btn-primary">Update</button>
         </form>
     </div>

</div>
{% endblock content %}