{% extends 'vlog/base.htm' %}
{% block title %}Home{% endblock title %}
    
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5">Home Page</h3>
    {% if All_post %}
    {% for post in All_post %}
    <div class="jumbotron jumbotron-fluid jumbtron-color">
        <div class="container">
          <h1 class="display-4 font-weight-bold">{{post.title}}</h1>
          <h3>Auth: <small>{{post.auth}}</small></h3>
          <p class="lead text-justify">{{post.desc}}</p>
        </div>
      </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}